:root {
  --l: 4em;
  --m: 2.4em;
  --s: 1.6em;
  --xs: 1.5em;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--sub);
  overflow-x: clip;

  position: relative;
  background-color: #929292;
}

a,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  text-decoration: inherit;
  color: inherit;
  background-color: inherit;
  border: inherit;
}

/* TOP BAR */

header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  position: fixed;
  background-color: hsl(206, 7%, 21%);
  width: 100vw;
  height: 10vh;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 999;
  top: 0;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: calc(1rem + 0.1vw);
  & h1 {
    margin-right: auto;
    margin-left: 5vw;
    font-size: 1em;
    font-weight: 400;
  }

  & iconify-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & iconify-icon,
  .header-controls > div {
    font-size: 1.2em;
  }
  .header-controls > div:nth-child(2) {
    margin-right: 1em;
  }
  .header-controls > div:nth-child(6) {
    margin-left: 1em;
  }
  > iconify-icon {
    margin-left: auto;
    margin-right: 7vw;
  }
  & p {
    white-space: nowrap;
    font-size: 0.8em;
  }

  .header-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  .line {
    width: 0.1em;
    height: 1.5em;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .button {
    cursor: pointer;
    aspect-ratio: 1;
    border-radius: 50%;
    height: 1.5em;
    text-align: center;
  }

  .button:hover {
    background-color: hsl(206, 7%, 30%);
    user-select: none;
  }
  .button:active {
    animation: pulse 0.2s forwards;
  }
}

@keyframes pulse {
  0% {
    outline: solid 5px hsl(206, 7%, 30%);
    outline-offset: -5px;
  }
  100% {
    outline: solid 2px rgba(71, 77, 82, 0);
    outline-offset: 5px;
  }
}

@media (width < 900px) {
  header {
    grid-template-columns: 1fr 1fr !important;
  }
  .header-controls {
    display: none !important;
  }
}

.container {
  width: 100vw;
  height: 90vh;
  overflow-y: scroll;
  padding: 5px;
  margin-top: 10vh;
}

main,
section {
  padding: 5vw 3vw;
  font-size: calc(0.6vw);
  font-family: Arial, Helvetica, sans-serif;
  aspect-ratio: 8.5 / 11;
  scale: 1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  transition: 0.5s;
  > * {
    flex-basis: 100%;
  }
  > :nth-child(1) {
    align-self: flex-start;
  }
  > :nth-child(1),
  > :nth-child(2) {
    flex-basis: 50%;
  }
  & h2 {
    display: flex;
    flex-direction: column;
    font-size: var(--l);
  }
  & h2 > span {
    margin-left: 5ch;
    text-transform: uppercase;
    font-size: 0.55em;
    font-style: italic;
    position: relative;
    overflow: clip;
    height: 1em;
    width: 18ch;
  }

  & h2 > span p {
    transition: top 0.3s;
    position: absolute;
  }
  & h2 > span p:nth-of-type(1) {
    top: 0;
  }
  & h2 > span p:nth-of-type(2) {
    top: 100%;
  }

  & h2 > span:hover p:nth-of-type(1) {
    top: -100%;
  }
  & h2 > span:hover p:nth-of-type(2) {
    top: 0;
  }

  .info {
    padding-top: 1em;
    gap: 0.4em;
    font-size: var(--s);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    opacity: 60%;
  }
}

section {
  margin-top: 12px;
}

@media (width < 800px) {
  main,
  section {
    aspect-ratio: unset;
    font-size: 2vw !important;
    width: 95vw !important;
    zoom: 1 !important;
    rotate: 0deg !important;
  }
}

.underline {
  position: relative;
}

.underline:hover::before {
  width: 100%;
}

.underline:before {
  transition: 0.3s;
  content: "";
  width: 0%;
  height: 0.075em;
  position: absolute;
  background-color: black;
  top: 105%;
  opacity: inherit;
}
